<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="NorthwindEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\Northwind.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICustomersService" />
        <binding name="WSHttpBinding_IOrdersService" />
        <binding name="WSHttpBinding_IProductsService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50990/NorthWindService/CustomersService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICustomersService" contract="CustomersProxy.ICustomersService" name="WSHttpBinding_ICustomersService">
        <identity>
          <userPrincipalName value="Administrator@corp.contoso.com" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:50990/NorthWindService/OrdersService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOrdersService" contract="OrdersProxy.IOrdersService" name="WSHttpBinding_IOrdersService">
        <identity>
          <userPrincipalName value="Administrator@corp.contoso.com" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:50990/NorthWindService/ProductsService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProductsService" contract="ProductsProxy.IProductsService" name="WSHttpBinding_IProductsService">
        <identity>
          <userPrincipalName value="Administrator@corp.contoso.com" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>